main {
	width: 80vw;
	padding: 50px 0 50px 0;
	margin: 0 auto;
}

button {
	display: block;
	margin-top: 30px;
}

.mat-card {
	margin: 15px 0;
	cursor: pointer;
	transition-duration: 0.3s;
}

.mat-card:hover {
	background: rgba(0, 0, 0, 0.03)
}

.app {

	&__header {
		margin-bottom: 50px;
	}

	&__title {
		font-weight: bold;
		font-size: 40px;
	}

	&__stored-schemas-cards {
		margin-top: 40px;
	}

	&__spinner {
		display: flex;
		position: fixed;
		flex-direction: column;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.3);
		align-items: center;
		justify-content: center;
	}

	&__expansion-panel {
		margin-bottom: 3px;
	}

	&__spinner-task {
	}
}
