<main>
	<header class="app__header"><h1 class="app__title">ORA-SS JSON</h1></header>

	<ng-container *ngIf="dataUploaded && !currentOptions && !visualizedSchema">
		<h2 *ngIf="!schemaSpawned">
			Your data is being processed
		</h2>

		<ng-container *ngIf="schemaSpawned">
			<h2>
				The data instance has been saved in database <br>
				The schema have been spawned and saved in database
			</h2>
			<button (click)="buildSchemaGraph(spawnedSchemaId)"
					color="primary"
					mat-raised-button>
				Generate graphic schema representation
			</button>
		</ng-container>
	</ng-container>

	<ss-data-upload-form (dataUpload)="sendDataInstance($event)"
						 *ngIf="!dataUploaded && !visualizedSchema">
	</ss-data-upload-form>

	<ss-extra-input-form (submit)="extraInput$.next($event)"
						 *ngIf="currentOptions"
						 [examples]="currentExamples"
						 [message]="currentMessage"
						 [mode]="currentMode"
						 [options]="currentOptions">
	</ss-extra-input-form>

	<ng-container *ngIf="(dataUploaded && !currentOptions && schemaSpawned) || visualizedSchema">
		<button (click)="downloadSchema(spawnedSchemaId || visualizedSchema.id)"
				color="primary"
				mat-raised-button>
			Download the schema
		</button>
		<button (click)="prepareUploadingAnotherData()"
				mat-stroked-button>
			Back to data uploading
		</button>
	</ng-container>

	<div *ngIf="!visualizedSchema && !dataUploaded" class="app__stored-schemas-cards">
		<mat-expansion-panel class="app__expansion-panel">
			<mat-expansion-panel-header>
				<mat-panel-title>Stored schemas</mat-panel-title>
			</mat-expansion-panel-header>
			<ng-container *ngFor="let schemaId of storedSchemasIds">
				<mat-card>
					{{schemaId}}
					<mat-card-actions [align]="'end'">
						<button (click)="buildSchemaGraph(schemaId)" mat-button>Show diagram</button>
						<button (click)="downloadSchema(schemaId)" mat-button>Download</button>
						<button (click)="deleteSchema(schemaId)" mat-button>Delete</button>
					</mat-card-actions>
				</mat-card>
			</ng-container>
		</mat-expansion-panel>

		<mat-expansion-panel class="app__expansion-panel">
			<mat-expansion-panel-header>
				<mat-panel-title>Stored data instances</mat-panel-title>
			</mat-expansion-panel-header>
			<ng-container *ngFor="let dataId of storedDataInstancesIds">
				<mat-card>
					{{dataId}}
					<mat-card-actions [align]="'end'">
						<button (click)="downloadDataInstance(dataId)" mat-button>Download</button>
						<button (click)="deleteDataInstance(dataId)" mat-button>Delete</button>
					</mat-card-actions>
				</mat-card>
			</ng-container>
		</mat-expansion-panel>
	</div>

	<ss-schema-diagram *ngIf="visualizedSchema"
					   [schema]="visualizedSchema"></ss-schema-diagram>
</main>

<div *ngIf="(progress && dataUploaded && !currentOptions && !visualizedSchema && !schemaSpawned) || loading"
	 [@appearingAnimation]
	 class="app__spinner">

	<p class="app__spinner-task">{{progress?.task}}</p>
	<mat-spinner [mode]="progress?.value ? 'determinate' : 'indeterminate'"
				 [value]="progress?.value">
	</mat-spinner>

</div>

<ss-notification #notification></ss-notification>
