.code-block {

	& > code {
		display: block;
		max-height: 600px;
		overflow: auto;

		& > span {
			white-space: pre-wrap;
			display: block;
			margin: 8px;
			padding: 10px;
			cursor: default;
			transition-duration: 0.18s;

			&:hover {
				border-radius: 10px;
				box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.33);
			}
		}
	}
}
