<form class="extra-input-form">
	<h3 [innerHTML]="message"></h3>

	<mat-checkbox *ngFor="let option of options"
				  [(ngModel)]="option.checked"
				  (change)="validate()"
				  name="option">
		{{option.name}}
	</mat-checkbox>

	<button (click)="submit.emit(options)"
			*ngIf="options?.length"
			[disabled]="!valid"
			class="extra-input-form__send-btn"
			color="primary" mat-raised-button>
		Send
	</button>

	<ss-code-block [blocks]="examples"
				   [title]="'Examples'"
				   class="extra-input-form__code-block">
	</ss-code-block>

</form>
